# Python Alapok 1

In [1]:
print("Hello World! :)")

Hello World! :)

## Egyszerű számítások

In [2]:
print(10 + 2, 2 * 2, 3**2, 10 % 2)

12 4 9 0

## Változók

In [3]:
a = 42
b = 32
c = a + b
print(c)

c = "valami"
print(c)

# print(a + c)  # error

74
valami

## String műveletek

In [5]:
print("alma".upper())
print("LO" in "Hello".upper())
print(f"Decimal Number: {12}, Float: {33.4}, String: {'almafa'}")
print("... {1} ... {0} ...".format("A", "B"))

ALMA
True
Decimal Number: 12, Float: 33.4, String: almafa
... B ... A ...

## Listák

In [7]:
players = [12, 31, 27, '48', 54]
print(players)
print(players[0])
print(players[-1])
print(players + [22, 67])
print(len(players))

print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")

players.append(89)
print(len(players))

print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")

print(players[2:])

print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")

del players[2]
print(players)
x = players.pop(0)
print(x)

[12, 31, 27, '48', 54]
12
54
[12, 31, 27, '48', 54, 22, 67]
5
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
6
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[27, '48', 54, 89]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[12, 31, '48', 54, 89]
12

## Tuple–nem módosítható lista

In [ ]:
players = (12, 31, 27, '48', 54)
# players[2] = 'alma'  # error
# del players[2]  # error
players[2:]

[12, 31, 27, '48', 54]

## Halmazok

In [8]:
my_list = [8, 3, 2, 3, 2, 4, 6, 8, 2]
my_set= set(my_list)
print(my_list)
print(my_set)

print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")

print(sorted(my_list))

[8, 3, 2, 3, 2, 4, 6, 8, 2]
{2, 3, 4, 6, 8}
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[2, 2, 2, 3, 3, 4, 6, 8, 8]

## Szótár (dict)

In [9]:
team = {
    91: "Ayers, Robert",
    13: "Beckham Jr,",
    3: "Brown, Josh",
    54: "Casillas, Jonathan",
    21: "Collins, Landon",
}

print(len(team))
team[3] = "Chihiro"
team[1] = "xxxxxxx"
print(team[1], team[3])

print(91 in team)
print("alma" in team)

5
xxxxxxx Chihiro
True
False

In [10]:
team.keys()

dict_keys([91, 13, 3, 54, 21, 1])

In [11]:
team.values()

dict_values(['Ayers, Robert', 'Beckham Jr,', 'Chihiro', 'Casillas, Jonathan', 'Collins, Landon', 'xxxxxxx'])

## Elágazások

In [12]:
if 100 in team:
    print("Yes, 100 is in the team")
elif 76 in team:
    print("100 is not in the temm, but 76 is in it")
else:
    print("Neither 100 nor 76 are in the team")

Neither 100 nor 76 are in the team

## Ciklus

In [15]:
my_list = [3, 65, 2, 77 , 9, 33]

for x in my_list:
    print("Element:", x)

print("~~~~~~~~~~~~~~~~~~~")

for i, x in enumerate(my_list):
    print("Element", i, ":", x)

print("~~~~~~~~~~~~~~~~~~~")

for i in range(5):
    print(i)

print("~~~~~~~~~~~~~~~~~~~")

for k, v in team.items():
    print("Name:\t", v, "\t\tNumber:", k)

Element: 3
Element: 65
Element: 2
Element: 77
Element: 9
Element: 33
~~~~~~~~~~~~~~~~~~~
Element 0 : 3
Element 1 : 65
Element 2 : 2
Element 3 : 77
Element 4 : 9
Element 5 : 33
~~~~~~~~~~~~~~~~~~~
0
1
2
3
4
~~~~~~~~~~~~~~~~~~~
Name:	 Ayers, Robert 		Number: 91
Name:	 Beckham Jr, 		Number: 13
Name:	 Chihiro 		Number: 3
Name:	 Casillas, Jonathan 		Number: 54
Name:	 Collins, Landon 		Number: 21
Name:	 xxxxxxx 		Number: 1

In [16]:
i = 1
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [19]:
a = 1, 2, 3
print(a)

(1, 2, 3)

In [17]:
# for (int i = 1; i < 10; i += 2) {}
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

## Függvények

In [21]:
def is_even(num):
    if num % 2 == 0:
        return True
    else:
        return False

def is_even(num):
    return num % 2 == 0

for i in range(1, 10):
    if is_even(i):
        print("Szam:", i)

Szam: 2
Szam: 4
Szam: 6
Szam: 8

In [22]:
def multireturn(x):
    return x**2, x**3, x**4

print(multireturn(2))

a, b, c = multireturn(2)
print(a, b, c)

_, y, _ = multireturn(2)
print(y)

(4, 8, 16)
4 8 16
8

## Lambda függvények

In [23]:
is_even_lambda = lambda num: (num % 2) == 0

for i in range(1, 10):
    if is_even(i):
        print("Szam:", i)

Szam: 2
Szam: 4
Szam: 6
Szam: 8

## Comprehension-ök

In [ ]:
print([x * x for x in range(10)])
print({x : x*x for x in range(5)})
print({x : x*x for x in range(5) if x != 2})
# kiértékel, feltételt megnéz, attól függően hozzáad vagy sem
print(tuple(x * x for x in range(3)))  # ez egy generator expression belül

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 3: 9, 4: 16}
(0, 1, 4)

In [25]:
# print([10 / x for x in [1, 2, 3, 4, 5, 0]][:4])  # error

## Map

In [26]:
def fahrenheit(T):
  return (9 / 5) * T + 32

def celsius(T):
  return (5 / 9) * (T - 32)

temperatures = [36.5, 37, 37.5, 38, 39]
print("With map:", list(map(fahrenheit, temperatures)))
print("With list comprehension:", [fahrenheit(x) for x in temperatures])

print("With map:", list(map(celsius, map(fahrenheit, temperatures))))
print("With list comprehension:", [celsius(fahrenheit(x)) for x in temperatures])

With map: [97.7, 98.60000000000001, 99.5, 100.4, 102.2]
With list comprehension: [97.7, 98.60000000000001, 99.5, 100.4, 102.2]
With map: [36.5, 37.00000000000001, 37.5, 38.00000000000001, 39.0]
With list comprehension: [36.5, 37.00000000000001, 37.5, 38.00000000000001, 39.0]

In [28]:
# https://stackoverflow.com/questions/21959985/why-cant-python-increment-variable-in-closure
def foo():
    counter = 0

    def bar():
        nonlocal counter
        counter += 1
        print("bar", counter)

    return bar

bar = foo()
for _ in range(5):
    bar()

bar 1
bar 2
bar 3
bar 4
bar 5

In [32]:
def foo():
    x = [0]

    def bar():
        # There's no reference re-binding, so we don't need 'nonlocal'
        x[0] += 1
        print("bar", x[0])

    return bar

bar = foo()
for _ in range(5):
    bar()

bar 1
bar 2
bar 3
bar 4
bar 5

In [33]:
def double(x):
    print("LOG")
    return x * 2

a = map(double, [1, 2, 3, 4, 5])
print("'a' is a map object")
list(a)

'a' is a map object
LOG
LOG
LOG
LOG
LOG

[2, 4, 6, 8, 10]

## Beolvasás parancssorból

In [34]:
name = input("What is your name? ")
age = int(input("How old are you? "))
print(name, age)

What is your name?  Bálint
How old are you?  21

Bálint 21

## File műveletek

In [35]:
f = open("numbers.txt", "w")  # w-write, a-append, r-read
for i in range(10):
    f.write(f"{i} {i**2} {i**3} {i**4} {i**5}\n")
f.close()

In [36]:
f = open("numbers.txt")  # default: 'r'

print(f.read())
# print(f.readline())
# print(f.readlines())

f.close()

0 0 0 0 0
1 1 1 1 1
2 4 8 16 32
3 9 27 81 243
4 16 64 256 1024
5 25 125 625 3125
6 36 216 1296 7776
7 49 343 2401 16807
8 64 512 4096 32768
9 81 729 6561 59049

In [39]:
with open("numbers.txt") as f:
    for line in f:
      print(line.rstrip())  # by default, strips remove whitespaces

0 0 0 0 0
1 1 1 1 1
2 4 8 16 32
3 9 27 81 243
4 16 64 256 1024
5 25 125 625 3125
6 36 216 1296 7776
7 49 343 2401 16807
8 64 512 4096 32768
9 81 729 6561 59049

In [40]:
with open("numbers.txt") as f:
    mtx = [[int(x) for x in line.rstrip().split(" ")] for line in f]
mtx

[[0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1],
 [2, 4, 8, 16, 32],
 [3, 9, 27, 81, 243],
 [4, 16, 64, 256, 1024],
 [5, 25, 125, 625, 3125],
 [6, 36, 216, 1296, 7776],
 [7, 49, 343, 2401, 16807],
 [8, 64, 512, 4096, 32768],
 [9, 81, 729, 6561, 59049]]

## JSON

In [42]:
import json

In [43]:
data = {
  "president": {
    "name": "Zaphod Beeblebrox",
    "species": "Betelgeusian"
  }
}
print(type(data))

with open("data_file.json", "w") as write_file:
  json.dump(data, write_file)

<class 'dict'>

In [44]:
json_string = json.dumps(data)
print(json_string)

{"president": {"name": "Zaphod Beeblebrox", "species": "Betelgeusian"}}

In [45]:
with open("data_file.json") as read_file:
  data = json.load(read_file)
  print(data["president"]["name"])

Zaphod Beeblebrox

In [1]:
json_string = """
{
  "researcher": {
    "name": "Ford Prefect",
    "species": "Betelgeusian",
    "relatives": [{
         "name": "Zaphod Beeblebrox",
         "species": "Betelgeusian",
         "unspecified": null
    }]
  }
}
"""

In [2]:
data = json.loads(json_string)
data

NameError: name 'json' is not defined

In [48]:
for rel in data["researcher"]["relatives"]:
  print(f"Name: {rel['name']} ({rel['species']})")

Name: Zaphod Beeblebrox (Betelgeusian)